#canvas {
    display: block;
    border: 1px solid black;
    margin: 0 auto;
}

#reset {
    display: block;
    margin: 5px auto;
}

p {
    font-family: 'Zen Dots', cursive;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
